:root {
   --desktop-width: 80vw; 
   --laptop-width: 90vw;
}

body {
  background-color: rgb(248, 249, 252);
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.white-text {
  color: rgb(255, 255, 255);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main content block*/

.content-box {
  flex-direction: column;
  margin-top: 120px;
}

.grid-box {
  display: grid;
  grid-template-rows: 15vw 5vw 10vw 10vw; /*80vw*/
  grid-template-columns: 20vw 20vw 25vw 15vw;
  grid-template-areas: 
  "img js php php"
  "img js net os"
  "qa js net os"
  "qa java net os";
}

.grid-box div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-box > .lang {
  font-size: 5vw;
}

#img {
  grid-area: img;
}

#js {
  grid-area: js;
}

#php {
  grid-area: php;
}

#qa {
  grid-area: qa;
}

#java {
  grid-area: java;
}

#net {
  grid-area: net;
}

#os {
  grid-area: os;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr; 
  grid-template-columns: 1fr;
  grid-template-areas:
  "events"
  "blog"
  "contacts";
}

.events {
  grid-area: events;
  background: rgb(77 , 153, 247);
}

.blog {
  grid-area: blog;
  background: rgb(24 , 68, 157);
}

.cont {
  grid-area: contacts;
  background: rgb(9 , 38, 91);
}

.os > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
}

/* Content animation */

.flip-card {
  width: 100%;
  height: 100%;
  perspective: 1000px; 
  overflow: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back span {
  max-width: 90%;
  max-height: 90%;
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-left: 10px;
  overflow: auto;
}

.icons svg:hover {
  fill:rgb(77 , 153, 247);
}

svg {
  margin: 0 10px;
}

.flip-card-img-front {
  background: rgb(255, 255, 255) url("./img/big-logo.png") no-repeat center center;
  background-size: 75% auto;
}

.flip-card-1-back {
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}

.j-btn {
  background: rgb(65, 131, 255);
  font-size: 1.5vw;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.j-btn:hover {
  background: rgb(22, 103, 253);
}

.flip-card-js-front {
  background: rgb(241, 208, 121);
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  padding-right: 10px;
  justify-content: flex-end!important;
  align-items: flex-end!important;
}

.flip-card-rt:hover .flip-card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
  transition-duration: 1.3s;
}

.flip-card-php-front {
  background: rgb(138, 147, 188);
  font-style: italic;
  font-weight: 600;
}

.flip-card-2-back {
  background-color: rgb(255, 255, 255);
  transform: rotate3d(1, 1, 0, 180deg);
}

.flip-card-qa-front {
  background: rgb(112, 188, 126);
}

.flip-card-java-front {
  background: rgb(207, 62, 80);
  font-size: 3vw!important;
  font-family: 'Inter', sans-serif;
}

.flip-card-net-front {
  background: rgb(92, 39, 117);
}

.flip-card-xt:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-3-back {
  background-color: rgb(255, 255, 255);
  transform: rotateX(180deg)
}

/* Header */

header {
  height: 60px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  animation: show 1.5s ease-out;
}

.header-content {
  width: var(--desktop-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo-container {
  height: 100%;
  width: auto;
}

.logo {
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

@keyframes show {
  0% {
    transform: translate(0, -60px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

.user-menu {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  flex-wrap: wrap;
}

.user-btn {
  height: 40px;
  width: 40px;
  background: rgb(235, 157, 63);
  border-radius: 100%;
  font-size: 25px;
  opacity: 0.8;
  justify-self: flex-end;
  align-self: flex-end;
}

.user-btn:hover {
  opacity: 1;
}

.notify {
  color: lightslategrey;
  opacity: 0.5;
  justify-self: start;
  cursor: pointer;
}

.notify:hover {
  opacity: 1;
}

.user-btn > label {
  cursor: pointer;
}

.user-menu-list {
  background: rgb(255, 255, 255);
  position: absolute;
  transform: translate(-100%, -150%);
  padding: 20px 30px;
  box-shadow: 10px 12px 55px -19px rgba(0,0,0,0.5);
  opacity: 1;
}

.user-name {
  color: lightslategrey;
  font-size: 13px;
}

hr {
  border: 1px solid rgb(147, 152, 156);
  opacity: 0.5;
  width: 130%;
  transform: translate(-15px);
}

#check {
  display: none;
}

#check:checked ~ .user-menu-list{
  transform: translate(-50%, 70%);
}

ul {
  padding-inline-start: 0px; 
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;

}

#menu li{
  padding-top: 8px;
  font-weight: 600;
}

#menu li:hover {
  background: rgba(0,0,0,0.04);
}

/* Footer */

footer {
  width: 100%;
  text-align: center;
  margin: 50px 0 10px 0;
}

/* Notifications */

.notification-box {
  position: fixed;
  width: 300px;
  right: 0;
  bottom: 0;
}

.notification {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 90px;
  padding: 10px 30px;
  opacity: 0.95;
}

.n-btn {
  margin-right: 20px;
}

.n-info {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.n-info .n-header {
  font-weight: 800;
  margin-bottom: 5px;
}

.n-btn .material-icons {
  transform: scale(1.5);
  user-select: none;
}

.suc {
  background-color: rgba(132, 179 , 123, 0.9);
}

.err {
  background-color: rgba(190, 102, 93, 0.9)
}

.warn {
  background-color: rgba(245, 183, 26, 0.9);
}

.notification:hover {
  opacity: 1;
}

/* Media */

@media (max-width: 968px) {
  .grid-box {
    display: grid;
    grid-template-rows: 45vw 25vw 25vw;
    grid-template-columns: 35vw 10vw 25vw 20vw ; /*90vw*/
    grid-template-areas: 
    "img js js os"
    "java java php php"
    "qa qa net net";
  }

  .header-content {
    width: var(--laptop-width);
  }
}